{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Cipolla{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.rtl.min.css" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1228ed801f.js" crossorigin="anonymous"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/">Cipolla</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="mainNavbar">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'home-view' %}active{% endif %}" href="{% url 'home:home-view' %}">خانه</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'category-view' %}active{% endif %}" href="{% url 'product:category-view' %}">پکیج خا</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ثبت سفارش</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">تماس با ما</a>
                </li>
            </ul>

            <div>
                <a href="#" class="btn btn-brand">سفارش بده</a>
                <a href="#" class="btn btn-outline-brand">جزئیات بیشتر</a>

            </div>
        </div>
    </div>
</nav>

{% block content %}{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<footer class="footer bg-dark text-white pt-5 pb-4">
    <div class="container">
        <div class="row">

            <!-- Logo + Description -->
            <div class="col-md-4 mb-4">
                <a class="navbar-brand d-flex align-items-center gap-2" href="{% url 'home:home-view' %}">
                    <img src="{% static 'images/logo.jpg' %}" alt="Cipolla" height="60">
                    <span class="fw-bold fs-5 d-none d-lg-inline">Cipolla</span>
                </a>
                <p class="small">
                    Cipolla
                </p>
            </div>

            <!-- Quick Links -->
            <div class="col-md-2 mb-4 text-end">
                <h6 class="fw-bold mb-3">دسترسی سریع</h6>
                <ul class="list-unstyled">
                    <li><a href="{% url 'home:home-view' %}" class="footer-link">خانه</a></li>
                    <li><a href="" class="{% url 'product:category-view' %}">پکیج ها</a></li>
                    <li><a href="" class="footer-link">درباره ما</a></li>
                    <li><a href="" class="footer-link">ورود و عضویت</a></li>

                </ul>
            </div>

            <!-- Contact Info -->
            <div class="col-md-3 mb-4 text-end">
                <h6 class="fw-bold mb-3">راه های ارتباطی</h6>
            </div>

            <!-- Social Media -->
            <div class="col-md-3 mb-4">
                <h6 class="fw-bold mb-3">مارا دنبال کنید</h6>
                <div class="d-flex gap-3">
                    <a href="//instagram.com/power__grow/?__pwa=1#" class="social-icon"><i class="fab fa-instagram"></i></a>
                    <a href="//linkedin.com/company/phoenixfamily" class="social-icon"><i
                            class="fab fa-linkedin"></i></a>
                    <a href="//wa.link/eai49n" class="social-icon"><i class="fab fa-whatsapp"></i></a>
                    <a href="//telegram.me/power_grow" class="social-icon"><i
                            class="fab fa-telegram"></i></a>
                </div>
            </div>

        </div>

        <!-- Copyright -->
        <div class="text-center pt-4 border-top mt-4"
             style="border-color: rgba(255,255,255,0.1) !important; direction: ltr">
            <p class="small mb-0">&copy; 2025 PhoenixFamily Co. All Rights Reserved.</p>
        </div>
    </div>
</footer>

</body>
</html>
